VITE_EVE_CLIENT_ID=
VITE_EVE_REDIRECT_URI=https://gryyk-47.netlify.app/callback

EVE_CLIENT_ID=
EVE_CLIENT_SECRET=
EVE_REDIRECT_URI=https://gryyk-47.netlify.app/callback

OPENROUTER_API_KEY=
MONGODB_URI=
MONGODB_DB=Gryyk-47
PINECONE_API_KEY=
INDEX_HOST=
OPENAI_API_KEY=
